# Set the timezone of the system to avoid problems with the date and time in filenames
TIMEZONE=Europe/Istanbul

# DEBUG, INFO, WARNING, ERROR or CRITICAL
LOGGING_LEVEL=DEBUG

# MQTT
MQTT_BROKER_ADDRESS=192.168.0.59
MQTT_TOPIC=frigate/events
MQTT_USER=username
MQTT_PORT=1883
MQTT_PASSWORD=secret


# Google Drive
GOOGLE_CREDENTIALS_JSON_FILE=credentials/google_drive_credentials.json

# the token will be created automatically after first run and will saved here as defined
GOOGLE_TOKEN_FILE=credentials/token.json

# Upload directory in Google Drive, will be created automatically in Google Drive. It will be created under the root directory.
# Directory structure in Google Drive will be: /<UPLOAD_DIR>/<YEAR>/<MONTH>/<DAY>/
UPLOAD_DIR=frigate


# Frigate URL with protocol and port
FRIGATE_URL=http://192.168.0.100:5000


# Mattermost
MATTERMOST_WEBHOOK_URL=
MATTERMOST_PREFIX="[my message prefix]"